body {
  font-family: helvetica;
  font-size: 14px;
  max-width: 1000px;
  margin: 20 auto;
}

button {
  border: 0;
  background: rgb(101, 87, 139);
  padding: 0;
  width: 200px;
  height: 50px;
  position: relative;
}
button span {
  position: absolute;
  top: 10px;
  left: 0;
}


#console {
  
  width: 90%;
  height: 0%;
  left: 0px ;
  top: 650px;
  
  z-index: 2;
  position: relative;
  text-align:  center;
  
  background-color: rgb(254, 255, 254);
  
  font-size: 2em;

}

#cy {
  width: 90%;
  height: 60%;
  left: 0;
  top: 4%;
  z-index: 1;
  border: 3px solid #299;
  margin: 1px 1px 1px 1px;
}

h1 {
  font-size: 2em;
}
