body {
  font-family: helvetica;
  font-size: 14px;
  max-width: 1000px;
  margin: 20 auto;
}

button {
  border: 0;
  background: rgb(101, 87, 139);
  padding: 0;
  width: 200px;
  height: 50px;
  position: relative;
}
button span {
  position: relative;
  top: 10px;
  left: 0;
}


#console {
  
  width: 90%;
  height: 0%;
  left: 0px ;
  top: 650px;
  
  z-index: 2;
  position: relative;
  text-align:  center;
  
  background-color: rgb(254, 255, 254);
  
  font-size: 2em;

}

#cy {
  width: 90%;
  height: 60%;
  left: 0;
  top: 4%;
  z-index: 1;
  border: 3px solid #299;
  margin: 1px 1px 1px 1px;
}

h1 {
  font-size: 2em;
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

container { 
  height: 200px;
  position: relative;
  border: 3px solid green; 
  
}

.center {
  margin: 1px;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}

ul {
	list-style:disc ;
}
	
ul li::before {
	  	
	color: rgb(0, 0, 0);
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
}